body {
  padding: 0;
  margin: 0;
}

.container {
  height: 400px;
  width: 100%;
  border: 4px double black;
  background: rgb(43, 183, 226);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.block1 {
  height: auto;
  width: 70px;
  border: 4px double black;
  background: #6e7a43;
}
.block2 {
  height: auto;
  width: 105px;
  border: 4px double black;
  background: #b67c45;
}
